---
import BaseLayout from "../layouts/BaseLayout.astro";
import { ViewTransitions } from "astro:transitions";
import "../styles/global.css";

const pageTitle = "About Me";

const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
//styles
const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <style define:vars={{ skillColor, fontWeight, textCase }}>
      .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
    </style>
    <ViewTransitions />
  </head>
  <body>
    <BaseLayout pageTitle={pageTitle}>
      <h2>... and my new Astro site!</h2>
      <p>
        My name is {identity.firstName} and I work in {identity.country}, as a {
          identity.occupation
        }
         and my hobbies include
        <ol>
          {skills.map((item) => <li class="skill">{item}</li>)}
        </ol>
      </p>
    </BaseLayout>
  </body>
</html>
